
/* basic styles needed */
.jc-style-select {
    position: relative;
    overflow: hidden;
}
.jc-style-select-value {
    position: absolute;
    left: 0;
}
.jc-style-select-control-wrapper {
    height: 100%;
    width: 100%;
}
.jc-style-select-control-wrapper select {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* the rest is just the theme */
.jc-style-select {
    color: #777;
    border: 1px solid #d5d5d5;
    background: #f5f5f5;
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 #eee;
    display: inline-block;
    padding: 4px 0 4px 8px;
}

.jc-style-select:before {
    content: '▾';
    font-size: x-small;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    border-left: 1px solid #d5d5d5;
    padding: 7px 8px;
}

.jc-style-select-value {
    text-shadow: 0 1px 0 #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
    margin: 0 32px 0 8px;
}
.jc-style-select-control-wrapper select {
    width: 182px;
}
